<% provide :title, t(".page_name") %>
<h1><%= t ".title" %></h1>
<p><%= t ".author" %> : <%= t ".full_name" %></p>
<p>
  Facebook :
  <%= link_to t(".full_name"), "http://www.facebook.com/tuquyet.hedspi" %>
  <p><%= l Time.now, format: :short %></p>
</p>
